<div class="row">
    <article class="col-md-7">
        
        <a ui-sref="addCat" class="btn btn-primary">Add cat</a>
        <div ui-grid="gridOptions" ui-grid-selection></div>


    </article>
    
    <aside class="col-md-5" ng-if="currentCat">
        <div class="container-fluid" >
            <div class="col-md-4 current-cat-data">
                <div><span>Name: {{currentCat.name}}</span></div>
                <div><span>Votes: </span><input class="form-control current-cat-input" type="number" min="0" max="1000" ng-model="currentCat.votes"></div>
            </div>
            <div class="col-md-8 current-cat-image">
                <img class="img-thumbnail dimension" ng-src="{{currentCat.image}}" />
            </div>
            
        </div>
    </aside>
</div>

